.out {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
}

.in {
  background-color: #aaaaaa;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-out;
  border-radius: 10px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 8px 8px 16px #969696, -8px -8px 16px #ffffff;
}
