:root {
  --grid-gap: 20px;
  --grid-size: 250px;
  --grid-pad: 15px;
  --grid-color-light: #eeeeee;
  --grid-color-dark: #aaaaaa;
}

.app {
  display: grid;
  gap: var(--grid-gap);
  margin: auto;
}

.gridItem {
  background-color: var(--grid-color-dark);
  position: relative;
  width: var(--grid-size);
  height: var(--grid-size);
  border-radius: 15px;
  margin: auto;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gridItem {
  color: var(--grid-color-light);
}

.gridItem:hover {
  transform: scale(1.03);
  box-shadow: 0px 6px 30px var(--grid-color-dark);
}

/* 2 * i-size + 1 * i-gap + 2 * c-pad-l */
@media (max-width: 624px) {
  .app {
    width: calc(1 * var(--grid-size));
    grid-template-columns: repeat(1, 1fr);
  }
}

/* 2 * i-size + 1 * i-gap + 2 * c-pad-l */
@media (min-width: 624px) {
  .app {
    width: calc(2 * var(--grid-size) + 1 * var(--grid-gap));
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 3 * i-size + 2 * i-gap + 2 * c-pad-l */
@media (min-width: 896px) {
  .app {
    width: calc(3 * var(--grid-size) + 2 * var(--grid-gap));
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 4 * i-size + 3 * i-gap + 2 * c-pad-l */
@media (min-width: 1168px) {
  .app {
    width: calc(4 * var(--grid-size) + 3 * var(--grid-gap));
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 5 * i-size + 4 * i-gap + 2 * c-pad-l */
@media (min-width: 1440px) {
  .app {
    width: calc(5 * var(--grid-size) + 4 * var(--grid-gap));
    grid-template-columns: repeat(5, 1fr);
  }
}

.gridItem .in {
  position: absolute;
}

.p {
  margin: 0;
}

.in.ul {
  top: var(--grid-pad);
  left: var(--grid-pad);
  font-size: larger;
  font-weight: bold;
}

.in.ur {
  top: var(--grid-pad);
  right: var(--grid-pad);
}

.in.core {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
}

.in.bl {
  bottom: var(--grid-pad);
  left: var(--grid-pad);
}

.in.bc {
  bottom: var(--grid-pad);
  left: 50%;
  transform: translate(-50%, 0);
}

.in.br {
  bottom: var(--grid-pad);
  right: var(--grid-pad);
}

.in.core .up {
  font-size: 30px;
  font-weight: bold;
}

/* .in.core .down{
      font-size: 1rem;
    } */
