:root {
  --grid-gap: 20px;
  --grid-size: 250px;
  --grid-pad: 15px;
  --grid-color-light: #eeeeee;
  --grid-color-dark: #aaaaaa;
}

.app {
  display: grid;
  gap: var(--grid-gap);
  margin: auto;
  /* width: 100%; */
  text-align: center;
  grid-template-columns: repeat(1, 1fr);
}

.gridItem {
  background-color: var(--grid-color-dark);
  position: relative;
  width: var(--grid-size);
  height: var(--grid-size);
  border-radius: 15px;
  margin: auto;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--grid-color-light);
}

.gridItem:hover {
  transform: scale(1.03);
  box-shadow: 0px 6px 30px var(--grid-color-dark);
}

/* 200 + 2 * 20 + 2 * 250 + 1 * 20 = 760 */
@media (min-width: 760px) {
  .app {
    width: calc(var(--grid-size) * 2 + var(--grid-gap) * 1);
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 200 + 2 * 20 + 3 * 250 + 2 * 20 = 1030 */
@media (min-width: 1030px) {
  .app {
    width: calc(var(--grid-size) * 3 + var(--grid-gap) * 2);
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 200 + 2 * 20 + 4 * 250 + 3 * 20 = 1300 */
@media (min-width: 1300px) {
  .app {
    width: calc(var(--grid-size) * 4 + var(--grid-gap) * 3);
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 200 + 2 * 20 + 5 * 250 + 4 * 20 = 1570 */
@media (min-width: 1570px) {
  .app {
    width: calc(var(--grid-size) * 5 + var(--grid-gap) * 4);
    grid-template-columns: repeat(5, 1fr);
  }
}

.gridItem .in {
  position: absolute;
}

.p {
  margin: 0;
}

.in.ul {
  top: var(--grid-pad);
  left: var(--grid-pad);
  font-size: larger;
  font-weight: bold;
}

.in.ur {
  top: var(--grid-pad);
  right: var(--grid-pad);
}

.in.core {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
}

.in.bl {
  bottom: var(--grid-pad);
  left: var(--grid-pad);
}

.in.bc {
  bottom: var(--grid-pad);
  left: 50%;
  transform: translate(-50%, 0);
}

.in.br {
  bottom: var(--grid-pad);
  right: var(--grid-pad);
}

.in.core .up {
  font-size: 30px;
  font-weight: bold;
}

/* .in.core .down{
      font-size: 1rem;
    } */
